.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 600px 200px;
    background-color: rgb(82, 152, 180);
    border: 1px solid chartreuse;
    gap: 10px;
}

.box1 {
    display: grid;
    height: 350px;
    width: 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px dotted rgb(221, 105, 105);
    background-color: #c87fff;
    gap: 10px;
    padding: 10px;
}

.box2,
.box3 {
    height: 400px;
    width: 300px;
    border: 1px dotted brown;
}

.box2 {
    background-color: rgb(39, 104, 137);
}

.box3 {
    background-color: aquamarine;
}

.box11, .box12, .box13, .box14 {
    height: 100px;
    width: 120px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000;
}

.box11 img,
.box12 img,
.box13 img,
.box14 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
